<%- include('./partials/header')%>

<div class="w-[80%] m-auto mt-10 p-20 bg-slate-300 flex flex-col gap-10">
    <div class="w-full flex gap-10">
        <p class="w-[30%] bg-slate-100 p-5 rounded-[20px]">Full Name</p>
        <p class="w-[20%] bg-slate-100 p-5 rounded-[20px]">Contact</p>
        <a class="w-[20%] bg-slate-100 p-5 rounded-[20px]" >update</a>
        <a class="w-[20%] bg-slate-100 p-5 rounded-[20px]">Delete</a>
       </div>
    <%userData.map((user)=>{%>
       <div class="w-full flex gap-10">
        <p class="w-[30%] bg-slate-100 p-5 rounded-[20px]"><%=user.firstName%> <%= user.lastName%></p>
        <p class="w-[20%] bg-slate-100 p-5 rounded-[20px]"><%= user.number%></p>
        <a class="w-[20%] p-5 bg-green-600 text-slate-100 rounded-[20px]" href="/contact/<%= user._id%>/update">update</a>
        <a class="w-[20%] p-5 bg-red-400 text-slate-100 rounded-[20px]"  href="/delete/<%= user._id%>">Delete</a>
       </div>
    <%})%>
</div>

<%- include('./partials/footer')%>